*.png.import
.import/
*.md
!README.md
*Cenas/Fase3/*.gdshader
*Cenas/Fase3/*.gdshader.uid
*.uid
.godot/editor/*cfg
.godot/*.log
.godot/imported/*.md5
**/bin/
**/obj/
**/node_modules/
.vercel/
.env
.env.*
!.env.example